<<<<<<< HEAD
.pagina-lista-clientes__item-cliente {
    background-color: #fff;
    padding: 8px;
    box-shadow: 0px 0px 4px 0px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pagina-lista-clientes__item-cliente-acoes {
  display: flex;
  gap: 16px

  }
=======
.pagina-lista-clientes__item-cliente {
background-color: #ffff;
padding: 8px;
box-shadow: 60px -16px teal;

}
>>>>>>> bb298ca6b239d2db2ca837efdbd86ad4063b6b87
